<!DOCTYPE HTML>
<html>

<head>
    <title>TER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- FontAwesome - http://fortawesome.github.io/Font-Awesome/ -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />

    <!-- jQueryMobileCSS - original without styling -->
    <link rel="stylesheet" href="css/jquery.mobile-1.4.2.min.css" />
    <!-- <link rel="stylesheet" href="css/jquery.mobile-1.4.0.min.css" /> -->

    <!-- nativeDroid core CSS -->
    <link rel="stylesheet" href="css/jquerymobile.nativedroid.css" />

    <!-- nativeDroid: Light/Dark -->
    <link rel="stylesheet" href="css/jquerymobile.nativedroid.light.css" id='jQMnDTheme' />

    <!-- nativeDroid: Color Schemes -->
    <!-- <link rel="stylesheet" href="css/jquerymobile.nativedroid.color.purple.css" id='jQMnDColor' /> -->

    <link rel="stylesheet" href="css/custom.css" />


    <script src="cordova.js"></script>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.mobile-1.4.2.min.js"></script>

</head>

<body>

    <div id="instruction" data-role="page" data-theme='b'>
        <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="b">
            <a href="#" data-rel="back"><i class='fa fa-chevron-left fa-lg fa-inverse'></i></a>
            <h2>REPORTS</h2>
        </div>
        <div data-role="content">
            <div class="jqm-block-content">
                <center>
                    <small>
                        <p>Mindanao State University at Naawan</p>
                        <p>SCHOOL OF MARINE FISHERIES & TECHNOLOGY</p>
                        <p>9023 Naawan, Misamis Oriental</p>
                        <p>
                            <small>{{ DEPARTMENT }}</small>
                        </p>
                        <p>TEACHING EFFICIENCY RATING (TER SCALE FORM 1)</p>
                    </small>
                </center>
                <hr>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-a">
                            <small>Name of faculty</small>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-a">
                            <small>POTESTAS,Diorey</small>
                        </div>
                    </div>
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-a">
                            <small>Subjects</small>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-a">
                            <small>CSc 171</small>
                        </div>
                    </div>
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-a">
                            <small>Section</small>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-a">
                            <small>*</small>
                        </div>
                    </div>
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-a">
                            <small># of stud. rated</small>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-a">
                            <small>10</small>
                        </div>
                    </div>
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-a">
                            <small>Sem. & SY</small>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-a">
                            <small>2013 | 2nd Sem.</small>
                        </div>
                    </div>
                </div>
                <!-- /grid-a -->
                </br>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-a">
                            <small>Rank</small>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-a">
                            <small>******</small>
                        </div>
                    </div>
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-a" style="height:80px">
                            <small>Day</small>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-a" style="height:80px">
                            <small>W 01:00pm-03:00pm MH 03:00pm-04:30pm</small>
                        </div>
                    </div>
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-a">
                            <small>Total # of stud.</small>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div class="ui-bar ui-bar-a">
                            <small>22</small>
                        </div>
                    </div>
                </div>
                <!-- /grid-a -->
            </div>
            </br>
            <table data-role='table' id='table-column-toggle' data-mode='columntoggle' class='ui-responsive table-stroke'>
                <thead>
                    <tr>
                        <th>Items</th>
                        <th data-priority='3'>Never</th>
                        <th data-priority='3'>Seldom</th>
                        <th data-priority='3'>Often</th>
                        <th data-priority='3'>Always</th>
                        <th data-priority='4'>Total</th>
                        <th data-priority='5'>Average</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1 ) Attends class regularly</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>2 ) Comes to class late</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>3 ) Suspends class for personal reasons</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>4 ) Dismisses class before time</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>5 ) Comes to class well prepared</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>6 ) Answers well the questions of the student</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>7 ) Presents lessons in an orderly manner</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>8 ) Relates Lessons with everyday experience or connects them to present and future application/ uses</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>9 ) Covers satisfactorily the contents of the course</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>10 ) Gives illustrations, examples that makes lessons clear</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>11 ) Gives and returns quizzes/exams regularly after correcting</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>12 ) Encourage active participation of students</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>13 ) Makes students report/recite in class without listening</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>14 ) Uses different methods and techniques of teaching to make lessons clear</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>15 ) Conducts class with enthusiasm and humor</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>16 ) Motivate students to think and analyze</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>17 ) Shows approachability and open-mindedness</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>18 ) I learn from this teacher</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>19 ) The teacher is fair in giving grades</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th>20 ) I will advise my friends to be under this teacher</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            </br>
            <hr>
            </br>
            <table data-role='table' id='table-column-toggle2' data-mode='columntoggle' class='ui-responsive table-stroke'>
                <thead>
                    <tr>
                        <th>Description</th>
                        <th data-priority='2'>Numerical values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Oustanding</th>
                        <td>96.0 - 100%</td>
                    </tr>
                    <tr>
                        <th>Very Good</th>
                        <td>90.0 - 95.9%</td>
                    </tr>
                    <tr>
                        <th>Good/Very Satisfactory</th>
                        <td>83.0 - 89.9%</td>
                    </tr>
                    <tr>
                        <th>Satisfactory/Passing</th>
                        <td>75.0 - 82.9%</td>
                    </tr>
                    <tr>
                        <th>Poor</th>
                        <td>50.0 - 74.9%</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <table data-role='table' id='table-column-toggle3' data-mode='columntoggle' class='ui-responsive table-stroke'>
                <thead>
                    <tr>
                        <th>Parts</th>
                        <th data-priority='2'>Sum</th>
                        <th data-priority='3'>Average</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Part I</th>
                        <td>15.21</td>
                        <td>28.51%</td>
                    </tr>
                    <tr>
                        <th>Part II</th>
                        <td>15.21</td>
                        <td>28.51%</td>
                    </tr>
                    <tr>
                        <th>Part III</th>
                        <td>15.21</td>
                        <td>28.51%</td>
                    </tr>
                    <tr>
                        <th>Part IV</th>
                        <td>15.21</td>
                        <td>28.51%</td>
                    </tr>
                </tbody>
            </table>
            <div class="jqm-block-content">
                <h1>Final Result</h1>
                <h3>94.14 %</h3>
                <h2>very good</h2>
            </div>
        </div>
    </div>

    <script src="js/nativedroid.script.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        var header = $('[data-role=header]').outerHeight();
        var panel = $('.ui-panel').height();
        var panelheight = panel - header;
        $('.ui-panel').css({
            'top': header,
            'min-height': panelheight
        });
    });
    </script>
</body>

</html>
